.container {
    position: relative;   
    width: 400px;
    color:lightcoral;
    text-align: center;
    font-family: "Lucida Sans";
    background-color: lightgrey;
    margin-left: 500px;
    margin-top : 100px;
}

tr{
    width: 500px;
    text-align: center;
    color:grey;
    font-family: "微軟正黑體";
    font-size: 14px;
}

input{
    border-radius: 4px; 
}